{% extends 'html/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
{% endblock %}
{% block content %}
<div class="banner-carousel">
    {% include 'html/quickhtml/banner-carousel.html' %}
    {% block banner-carousel %}{% endblock %}
</div>
<hr>
<div class="offers">
    {% include "html/quickhtml/offer.html" %}
    {% block offer %}{% endblock %}
</div>
<hr>
<div class="products">
    {% include 'html/products/new-products.html' %}
    {% block new-products %}{% endblock %}
</div>


{% endblock %}

{% block js %}
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}