/* Nav Links */
.nav-links:hover {
    transition: all 0.5s !important;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19) !important;
}

html {
    scroll-behavior: smooth;
}

/* Back to Top */
.back-to-top {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;
}

.back-to-top .button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
}

.back-to-top i {
    width: 12px;
    transition-duration: 0.3s;
}

.back-to-top .button:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(181, 160, 255);
    align-items: center;
}

.back-to-top .button:hover i {
    /* width: 20px; */
    transition-duration: 0.3s;
    transform: translateY(-200%);
}

.back-to-top .button::before {
    position: absolute;
    bottom: -20px;
    content: "Back to Top";
    color: white;
    /* transition-duration: .3s; */
    font-size: 0px;
}

.back-to-top .button:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    /* transform: translateY(-30px); */
    transition-duration: 0.3s;
}